﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CatList</title>
</head>
<body>
    <div>
        @model List<Agl.CodeChallange.Core.Models.PetOwnership>
        @foreach (var owner in Model)
        {
            <p>
                <b>@owner.OwnerGender<br /></b>
                <ul>
                    @foreach (var petName in owner.PetNames)
                    {
                        <li>@petName</li>
                    }
                </ul>
            </p>
        }
    </div>
</body>
</html>
